# Auto detect text files and perform LF normalization
* text=auto

# exclude irrelevant files from release archives
.git*			export-ignore
LICENSE			export-ignore
README.md		export-ignore
media			export-ignore
